.App{
  display: flex;
  justify-content: center;
}
.GroceryBox{
  margin-top: 100px;
  width: 20%;
  height: auto;
  background-color: paleturquoise;
  padding: 20px;
}
.GroceryBox h1{
  text-align: center;
}
.Additem{
  display: flex;
  align-items: center;
  justify-content: center;
}
.item{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.item button{
  all: unset;
  cursor: pointer;
  background: rebeccapurple;
  color: azure;
  padding: 2px 30px;
  border-radius: 20px;
}